/* common use */
body{
    font-family: 'Work Sans', sans-serif;
}
.gamer-title > span, .footer-title > span{
    color: #F948B2;
}

/* header section */
.navbar{
    display: flex;
    justify-content: space-between;
}
.gamer-logo{
    display: flex;
    gap: 20px;
    padding-left: 100px;
}
.nav-logo{
    width: 86.041px;
    height: 40px;
    padding-top: 44px;
}
.gamer-title{
    padding-top: 30px;
}
.menu-bar ul{
    display: flex;
    gap: 20px;
}
.menu-bar ul li{
    list-style: none;
    padding: 20px;
}
.follow-btn {
    border-radius: 8px;
    border: none;
    background-color: #e9e9ebf1;
    width: 262px;
    height: 56px;
}
.follow-btn > span{
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.follow-btn > img{
    padding: 10px;
}
/* Middle Section */
.play-goat{
    display: flex;
}
.group-18{
    height: 600px;

}
.play-goat > div{
    margin-top: 100px;
    margin-left: 100px;
}
.play-like{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}
.goat{
    text-align: center;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
}
.one-click{
    color: #534C64;
    padding-left: 80px;
    font-size: 20px;
    font-weight: 500;
}
.no-download{
    padding-left: 80px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}
.supported-game{
    padding-left: 80px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}
.btn-sign-in{
    padding: 20px 40px;
    background: #FF42A5;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    border-radius: 48px;
    border: none;
    
}
.btn-go{
    color: #FFF;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 48px;
    border: none;
    background: #4EC5F7;
}
/* gamer section */
.gamer-group-section{
    display: flex;
}
.gamer-section-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
    font-size: 48px;
    font-weight: 700;
}
.gamer-section-description{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.know-more{
    margin-left: 290px;
    padding: 20px 40px;
    background: #FF42A5;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    border-radius: 48px;
    border: none;
    
}
.section-last-title > span{
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}
.section-last-title{
    text-align: right;
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}
/* gaming video section */
.gaming-video-all{
    display: flex;
    gap: 10px;
}
.gaming-video{
    width: 320px;
    height: 390px;
    border-radius: 16px;
}
.gaming-video-title{
    color: #0B0223;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
}
.gaming-video-section-description{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
..gaming-video-section{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
/* new section */
.section-card{
    display: flex;
}
.play-instantly-no{
    text-align: center;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.play-instantly{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-box{
    padding-top: 100px;
}
.play-box p{
    color: #534C64;
    text-align: right;
    padding-right: 240px;
    padding-left: 120px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.gaming-card-one{
    width: 95%;
}
.gaming-card-two{
    position: relative;
    bottom: 260px;
    right: 150px;
}
/* career section */
.career{
    background: #FF42A5;
    display: flex;
}
.career div img{
    width: 700px;
    height: 547px;
}
.career-skills{
    display: flex;
    color: #FFF;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;

}
.career-skills .first-skill{
    padding-right: 60px;
}
.career-skills-description{
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 40px;
}
.career-skills-description div h1{
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.career-btn{
    font-size: 20px;
    font-weight: 600;
    color: #FF42A5;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    border: none;
    background: #FFF;
}
/* catagory section */
.catagory{
    padding: 20px;
}
/* footer section */
.footer{
    background: #0B0223;
}
.footer-logo{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.footer-logo-icon{
    padding-top: 125px;
    width: 86.041px;
    height: 40px;
}
.footer-title{
    color: #FFF;
    padding-top: 80px;
    font-size: 45px;
    font-weight: 700;
}
.footer-list{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.footer-list > li{
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
}
.footer-icon {
    text-align: center;
}
.footer-icon > img {
    padding: 30px;
}
.terms-policy{
    justify-content: center;
    display: flex;
    gap: 60px;
}
.terms-policy > li{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    list-style: none;
    font-weight: 500;

}
.copyright-symball{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 100px;
    }